@import "tailwindcss";
@plugin "daisyui";

.myStroke {
    -webkit-text-stroke: 2px white;
    text-stroke: 3px black;
    text-shadow: 3px 0px 7px black;
}

.customTransition {
    transition: all .3s;
}